<form name="passwordform" #f="ngForm" novalidate   (ngSubmit)="f.form.valid && reset(f.value, f.valid)" >


  <div class="col-md-12">

    <div class=" col-md-6 col-md-offset-2 backgrnd">
      <h2>
        Reset Password..
      </h2>
      <div class="col-md-12">
        <div class="col-md-5" style="text-align:right">
          <label class="lable-control" >Password:</label>
        </div> 
        <div class="col-md-7 form-group" >
          <input class="form-control" type="password" name="paswrd" [(ngModel)]="data.paswrd" placeholder="Please enter password" required #paswrd="ngModel" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" >
                    
                    <div [hidden]="paswrd.valid || paswrd.pristine" class="text-danger">
                         <small [hidden]="!paswrd.hasError('required')">Password is required</small>
                        <small [hidden]="!paswrd.hasError('pattern')">password must be 8 characters including 1 uppercase letter, 1 special character and alphanumeric characters?</small>
  
                    </div>
                    <!--<small [hidden]="paswrd.valid || (paswrd.pristine && !f.submitted)" class="text-danger">
                 password must be 8 characters including 1 uppercase letter, 1 special character and alphanumeric characters?
              </small>-->

          <!--<div [hidden]="password.valid || password.pristine" class="text-danger">Password is required</div>-->
          
        </div>
      </div>
      <div class="col-md-12" style="margin-top:2%">
        <div class="col-md-5" style="text-align:right">
          <label class="lable-control">ConfirmPassword:</label>
        </div>
        <div class="col-md-7 form-group" >
          <input class="form-control" type="password" name="confirmpaswrd" [(ngModel)]="data.confirmpaswrd" placeholder="Same as above Password" required validateEqual="paswrd" #confirmpaswrd="ngModel" />
          <!--<small [hidden]="confirmpaswrd.valid || (confirmpaswrd.pristine && !f.submitted)" class="text-danger">
                 password must be 8 characters including 1 uppercase letter, 1 special character and alphanumeric characters?
              </small>-->
          <div [hidden]="confirmpaswrd.valid || confirmpaswrd.pristine" class="text-danger">Passwords did not match</div>
          
          <!--<div *ngIf="f.submitted && confirmpswd.match" class="help-block">Password is not match</div>-->
        </div>
      </div>




      <div class="col-md-12" style="margin-top:2%">
        <div class="col-md-5">

        </div>
        <div class="col-md-7">
          <button type="submit" class="btn btn-success" [disabled]="!f.form.valid" value="reset" >ResetPassword</button>
          <!--<a [routerLink]="['/login']" class="btn btn-link">Cancel</a>-->
         
        </div>
        
      </div>
    </div>
  </div>
</form>