.backgrnd {
      display: block;
      background-color: whitesmoke;
      padding: 50px;
      
  }  
  .headerlyt{
      background-color: whitesmoke;
       height:50%;
      width: 100%;
     padding: 10px;
      color: black
  }