/* You can add global styles to this file, and also import other style files */
.footercl{
    height:10%;
    width: 100%;
    background-color:black;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    position:fixed;
    align-content: baseline;
}
.headercls{
    height:50%;
    width: 100%;
    background-color:lightslategray;
    color: whitesmoke;
    padding: 10px;
    margin-bottom: 10px;
}